<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CountryMapper">
    <resultMap id="CountryMap" type="com.example.demo.model.Country">
        <id column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="population" property="population" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    code, name, population
  </sql>
    <select id="selectByCode" resultMap="CountryMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from country
        where code = #{code,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByCode" parameterType="java.lang.String">
    delete from country
    where code = #{code,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.example.demo.model.Country">
    insert into country (code, name, population
      )
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{population,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.demo.model.Country">
        insert into country
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="population != null">
                population,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="population != null">
                #{population,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByCodeSelective" parameterType="com.example.demo.model.Country">
        update country
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="population != null">
                population = #{population,jdbcType=INTEGER},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR}
    </update>
    <update id="updateByCode" parameterType="com.example.demo.model.Country">
    update country
    set name = #{name,jdbcType=VARCHAR},
      population = #{population,jdbcType=INTEGER}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>